<form method="post" action="{{ path('delete_seed', {'id': seed.id}) }}" onsubmit="return confirm({{ 'delete.confirmation'|trans }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seed.id) }}">
    <button class="btn">{{ 'delete.generic'|trans }}</button>
</form>
