<form method="post" action="{{ path('delete_user') }}" onsubmit="return confirm({{ 'delete.confirmation'|trans }});">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">{{ 'delete.generic'|trans }}</button>
</form>
